<h1>Online Market</h1>

<?php if(isset($this->messages) && count($this->messages)): ?>

<div class="alert alert-danger">
    <?php echo $this->htmllist($this->messages); ?>
</div>

<?php endif; ?>

<?php echo $this->partial('market/partials/item', ['item' => $this->item]); ?>
