<h1>Post Controller</h1>

<style>
    label, input, select {display: block; margin: 10px 0;}
</style>

<?php $this->postForm->prepare(); ?>
<?php echo $this->form()->openTag($this->postForm); ?>
<?php echo $this->formCollection($this->postForm); ?>
<?php echo $this->form()->closeTag(); ?>

<?php Zend\Debug\Debug::dump($this->data); ?>