<?php if($item): ?>
    <h3><?php echo $this->escapehtml(ucwords($item->title)); ?></h3>

    <div class="row">
        <div class="col-xs-4">
            <?php if($item->photo_filename): ?>
                <img src="<?php echo $item->photo_filename; ?>" alt="">
            <?php else: ?>
                No image
            <?php endif; ?>
        </div>
        <div class="col-xs-8">
            <p><b>Contact Details</b></p>
            <p><?php echo $this->escapehtml($item->contact_name); ?></p>
            <p><?php echo $this->escapehtml($item->contact_email); ?></p>
            <p><?php echo $this->escapehtml($item->contact_phone); ?></p>
            <p><b>Posting Details:</b></p>
            <p><?php echo $this->escapehtml($item->date_created); ?></p>
            <p>Price: <?php echo $this->escapehtml($item->price); ?></p>
            <p>City: <?php echo $this->escapehtml($item->city); ?>, <?php echo $this->escapehtml($item->country); ?></p>
            <p><b>Description:</b></p>
            <p><?php echo $this->escapehtml($item->description); ?></p>
        </div>
    </div>

<?php else: ?>
    No recent Posting!
<?php endif; ?>
